spring:
  application:
    name: todolist

  datasource:
    url: jdbc:postgresql://localhost:5433/todoappdb
    username: postgres
    password: nihad2005
    hikari:
      connection-timeout: 30000

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  liquibase:
    change-log: classpath:/db/changelog/master.yml

server:
  port: 8080
